.payment-methods {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 46px;
  display: inline-block;
  width: 652.6px;
  height: 40.1px;
}
.credit-card-icon,
.credit-card-icon1 {
  width: 70px;
  position: relative;
  height: 48px;
}
.credit-card-icon1 {
  object-fit: cover;
}
.base6 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 4px;
  background-color: #f1f6ff;
}
.g-icon,
.pay-icon {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.pay-icon {
  height: 94.17%;
  width: 57.6%;
  top: 5.83%;
  right: 0;
  bottom: 0;
  left: 42.4%;
  object-fit: cover;
}
.g-icon {
  height: 83.01%;
  width: 33%;
  top: 0;
  right: 67%;
  bottom: 16.99%;
  left: 0;
}
.googlepay {
  position: absolute;
  height: 42.92%;
  width: 71.43%;
  top: 32.08%;
  right: 14.29%;
  bottom: 25%;
  left: 14.29%;
}
.credit-card-parent {
  position: absolute;
  top: 65px;
  left: 0;
  width: 652.6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.payment-methods-parent {
  width: 100%;
  position: relative;
  height: 113px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--headings-typography-size-2);
}
