.weuiarrow-outlined-icon,
.weuiarrow-outlined-icon1 {
  position: absolute;
  top: 0;
  left: 12px;
  width: 12px;
  height: 24px;
  overflow: hidden;
}
.weuiarrow-outlined-icon1 {
  left: 0;
}
.unsplashjgyl6lmiq3q-icon {
  position: absolute;
  top: 0;
  left: 32px;
  width: 491px;
  height: 563px;
  object-fit: cover;
}
.unsplash7sb-jyodkfm-icon,
.unsplashhnoscxpwyii-icon {
  position: absolute;
  top: 450px;
  left: 587px;
  width: 614px;
  height: 421px;
  object-fit: cover;
}
.unsplashhnoscxpwyii-icon {
  top: 0;
  height: 375px;
}
.inspo {
  width: 100%;
  position: relative;
  height: 1472px;
}
