body {
  margin: 0;
  line-height: normal;
}

.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-montserrat: Montserrat;
  --headings-typography-size-2: "DM Sans";
  --font-volkhov: Volkhov;
  --font-aftika: Aftika;

  /* font sizes */
  --font-size-13xl: 32px;
  --font-size-72xl: 91px;
  --font-size-31xl: 50px;
  --font-size-17xl: 36px;
  --font-size-xl: 20px;
  --font-size-sm: 14px;
  --font-size-5xl: 24px;
  --font-size-base: 16px;
  --font-size-27xl: 46px;
  --font-size-9xl: 28px;
  --font-size-45xl: 64px;
  --font-size-smi: 13px;
  --font-size-xs: 12px;
  --headings-typography-size-2-size: 34px;

  /* Colors */
  --color-black: #000;
  --color-cadetblue-100: #8bb3b3;
  --color-lightgray: #d3d4ce;
  --color-darkslategray: #484848;
  --color-gainsboro: #d9d9d9;
  --color-whitesmoke: #f4f4f4;
  --color-white: #fff;
  --color-lavender: #e0e5f2;
  --color-silver: #b7b4b4;
  --color-gray: #8a8a8a;
  --color-tomato: #ff4646;
  --color-skyblue: #1cb1d1;

  /* Border radiuses */
  --br-11xl: 30px;
  --br-3xs: 10px;
  --br-7xs: 6px;
  --br-8xs: 5px;
}
